bert-serving-client==1.10.0
bert-serving-server==1.10.0
ckiptagger==0.1.0
Flask==1.1.1
Flask-Cors==3.0.8
Flask-JWT-Simple==0.0.3
gensim==3.3.0
jieba==0.42.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
numpy==1.18.1
Pillow==7.0.0
pycodestyle==2.5.0
pydocstyle==5.0.2
pydot==1.4.1
pyflakes==2.1.1
python-crfsuite==0.9.6
python-dateutil==2.8.1
python-engineio==3.6.0
python-socketio==2.1.2
python-telegram-bot==10.1.0
redis==2.10.6
regex==2020.1.8
requests==2.22.0
requests-toolbelt==0.9.1
scikit-learn==0.19.2
scipy==1.4.1
six==1.14.0
sklearn-crfsuite==0.3.6
tensorflow-gpu==2.7.2
